# https://github.com/github/gitignore/blob/master/Python.gitignore
__pycache__/

*.pyc
*.pyd
*.so
.ipynb_checkpoints
_build
build/
dist/


*.pkl
*.hd5
*.csv
*.bin

.env
.vim
.nvimrc
.vscode

qlib_data/
qlib/VERSION.txt
qlib/data/_libs/expanding.cpp
qlib/data/_libs/rolling.cpp
examples/estimator/estimator_example/

*.egg-info/


# special software
mlruns/

tags

.pytest_cache/
.vscode/

*.swp

./pretrain
